<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% if session %}
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {% endif %}
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/site.css">
</head>
<body>
    <h1>Cocktail Party</h1>
    <nav>
    <ul>
        <li>
            <a href="/"> Home </a>
        </li>
        <li>
            <a href="/popular_liquor_types"> Popular Liquor Types </a>
        </li>
        <li>
            <a href="/my_profile"> My Profile </a>
        </li>
    </ul>
</nav>
    {% block body %}
    {% endblock %}

</body>
</html>
