{% extends 'base.html' %}

{% block title %} Browse {% endblock %}

{% block body %}
    {% for cocktails in results %}
        {% for cocktail in cocktails %}
            {% if session %}
                <a href="/cocktail/{{ cocktail['idDrink'] }}">
            {% else %}
                <a href="/login">
            {% endif %}
                <img src="{{ cocktail['strDrinkThumb'] }}">
                {{ cocktail['strDrink'] }}
                </a>
        {% endfor %}
    {% endfor %}
{% endblock %}