{% extends 'base.html' %}

{% block title %} Cocktail Party {% endblock %}


{% block body %}
<div class="container">
    <h2>Search for a Cocktail</h2>

    <form method="GET" action="/cocktail/search">
        <label for="search-keyword">Search Keyword</label>
        <input type="text" name="keyword">
        <input type="submit" value="Search">
    </form>
</div>
<nav>
    <ul>
        <li>
            <a href="/"> Top Ten Cocktails </a>
        </li>
        <li>
            <a href="/liquor"> Liquor Type </a>
        </li>
        <li>
            <a href="/letter"> Alphabetical </a>
        </li>
        <li>
            <a href="/my_profile"> My Profile </a>
        </li>
    </ul>
</nav>
<div class="cocktail">
    {% for cocktails in results %}
        {% for cocktail in cocktails %}
            <a href="/cocktail/{{ cocktail['idDrink'] }}">
                <img src="{{ cocktail['strDrinkThumb'] }}">
                {{ cocktail['strDrink'] }}
            </a>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}