{% extends 'base.html' %}

{% block title %} Liquor Types {% endblock %}

{% block body %}
    <div class="container-fluid padding">
        <div class="row top-cocktails">
            <div class="col-12">
                <h1 class="display-4">Popular Liquor Types</h1>
            </div>
            <hr>
        </div>
        <div class="container-fluid padding">
            <div class="row padding">
                {% for cocktails in results %}
                    {% for cocktail in cocktails %}
                        <div class="col-md-3">
                            <div class="card">
                                <a href="/ingredient/{{ cocktail['strIngredient'] }}" class="card-link">
                                <img src="https://www.thecocktaildb.com/images/ingredients/{{ cocktail['strIngredient'] }}-medium.png" class="card-img-top">
                                <h5 class="card-title"> {{ cocktail['strIngredient'] }} </h5>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}