{% extends 'base.html' %}

{% block title %} My Profile {% endblock %}

{% block body %}
    Hi {{ user.fname }}, welcome to your profile.

    <form action="/create_new_event" method="POST">
        New Event Name: <input type="text" name="name">
        <input type="submit">
    </form>

    <div>
        <ul>
            {% for event in events %}
                <li>
                    <button> 
                        {{ event.name }} 
                        <input type="hidden" value={{event.event_id}}>
                    </button>
                </li>
                
            {% endfor %}
        </ul>
    </div>

    <div class="event_cocktails">
        {% if results == [] %}
            No saved cocktails, please try adding to your favorites.
        {% else %}
            {% for cocktails in results %}
                {% for cocktail in cocktails %}
                    <a href="/cocktail/{{ cocktail['idDrink'] }}" id="cocktail_link">
                    <img src="{{ cocktail['strDrinkThumb'] }}" id="cocktail_img">
                    {{ cocktail['strDrink'] }}
                    </a>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>

    <script>
        $("#delete").click(function() {
            alert('delete')
        });

        $("button").click(function() {
            const inputData = {event_id: $(this).find('input:hidden').val()};
            const currentImg = $('.event_cocktails');
            currentImg.empty();
            $.get('/event_cocktails.json', inputData, (res) => {
                const cocktail_ids = `${res.cocktails}` //string datatype
                const result = cocktail_ids.split(",");        
                for (let cocktail_id of result) {
                    apiData = {'i': cocktail_id}
                    const url = 'https://www.thecocktaildb.com/api/json/v1/1/lookup.php'
                    $.get(url, apiData, (res) => {
                        const event_cocktail = res.drinks;
                        const cocktail = event_cocktail[0];
                        currentImg.append("<a href='/cocktail/" + cocktail.idDrink + 
                            "'>" + "<img src=" + cocktail.strDrinkThumb + ">" +
                            cocktail.strDrink + "</a>");
                    });
                };
            });
        });
    </script>


{% endblock %}