{% extends 'base.html' %}

{% block title %} My Profile {% endblock %}

{% block body %}
    <h1 class="display-8">Hi {{ user.fname }}, welcome to your profile!</h1>

    <form class="form-inline" action="/create_new_event" method="POST">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Create New Event">
            <button class="btn btn-outline-dark" type="submit">Submit</button>
        </div>
    </form>
    <br>
    <br>

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                {% for event in events %}
                    <li class="nav-item">
                        <button class="nav-link active"> 
                            {{ event.name }} 
                            <input type="hidden" value={{event.event_id}}>
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
             <div class="card-body">
                <div class="container-fluid padding">
                    <div class="row padding" id="event-cocktails">
                        {% for cocktails in results %}
                            {% for cocktail in cocktails %}
                                <div class="col-md-3">
                                    <div class="card">
                                        <a href="/cocktail/{{ cocktail['idDrink'] }}" id="cocktail_link" class="card-link">
                                        <img src="{{ cocktail['strDrinkThumb'] }}" id="cocktail_img" class="card-img-top">
                                        <h5 class="card-title"> {{ cocktail['strDrink'] }} </h5>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("button").click(function() {
            const inputData = {event_id: $(this).find('input:hidden').val()};
            const currentImg = $('#event-cocktails');
            currentImg.empty();
            $.get('/event_cocktails.json', inputData, (res) => {
                const cocktail_ids = `${res.cocktails}` //string datatype
                const result = cocktail_ids.split(",");        
                for (let cocktail_id of result) {
                    apiData = {'i': cocktail_id}
                    const url = 'https://www.thecocktaildb.com/api/json/v1/1/lookup.php'
                    $.get(url, apiData, (res) => {
                        const event_cocktail = res.drinks;
                        const cocktail = event_cocktail[0];
                        currentImg.append("<div class='col-md-3'><div class='card'><a href='/cocktail/" + cocktail.idDrink + "' class='card-link'>" + "<img src=" + cocktail.strDrinkThumb + " class='card-img-top'> <h5 class='card-title'>" +
                            cocktail.strDrink + "</h5></a></div></div>");
                    });
                };
            });
        });
    </script>


{% endblock %}